/* 1.Universal selector: ittt can apply all of the part of code*/
* {
    font-family: "Courier New";
    
}

/*2. Element selector: it can be apply only selcted element*/
h1{
    color:#b92b27;
}

/**/
h3{
    color:purple;
}

/*3.Id-selector: it can be applied only for choosed ID it is case-sensentive partt*/
#login{
    background-color:white;

}
#signup{
    background-color: #b92b27;
    color:white;
}
/* Class selector: it can be select a specific class that you can give class name & use '.' operator*/
.upvote{
    background-color:aqua;
}
/*Descendant selector:it can work for parent child type and the work only selected child part ex-div->p*/

p a {
    color: yellow;
    background-color:brown;
}

nav ul li a {
   
 color: hotpink;
}
/* sibling combnator: it is the same level element combining p next h3 asa denote karta. p la khihi karnar nhi  */
p + h3{
    text-decoration: underline;
}
.upvote+button{
    background-color:rgb(156, 243, 25);
}
/* parent child : you can select only current child not skip middle element*/
div>input{
    background-color: blanchedalmond;
    
}
/*  attribute selector: you can change properties based on type and value aslo */
input[type="password"]{
    color:crimson;
}
input[type="text"]{
    color:crimson;
}
/* pseudo class:*/
/* 1.hover: it can used when you have change color of that specific p,button,element when carser on it */
button:hover{
    background-color: black;
    color:white;
}
 h3:hover{
    text-decoration: none;
}
/*2.Active:when use you open/select the option */
button:active{
    background-color: hotpink;
}
p:active{
    color: green;
    font-weight:bold;
}
/*cheaked:* it can apply on radio type and cheakboxes*/

input[type="radio"]:checked + label{
    color:red;
    font-weight:bold;
}
/* n th of type: it can use like only ac ton odd no  or second div or sec para like*/
div:nth-of-type(2n){
    background-color:rgb(255, 170, 140);
}
div:nth-of-type(2n+1){
    background-color: aquamarine;
}

