#container {
    height: 300px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    /*flex will be the fit in first div parent div fit all data in parent div*/
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;   
}

h1 {
    text-align: center;
}
#blue{
   /* flex-basis:100px;*/
   /*flex-grow: 1;*/
   flex-shrink: 2;
}
#org{
   /*flex-grow: 2; */
   flex-shrink:1;
}


#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5;
     
  
}