.card{
    width:400px;
    border:2px solid black;
    border-radius:25px;
    padding:10px;
    margin:10px;
   
    
}
#pets{
    display:flex;
    justify-content:space-evenly;
}
img{
    
    width:100%;
    border-radius: 10px;
  
}
h2{
    color:red;
}
h4{
    justify-self:center;
   color:aquamarine;
}
span{
    color:goldenrod;
}
@media(max-width:375px){
    #pets{
        flex-wrap:wrap;
    }
}