#shadwo{
    height:200px;
    width: 200px;
    background-color: navajowhite;
    margin:30px ;
    /*box-shadow: it used to get shadow to elemnt*/
    box-shadow:5px 5px 8px black;
}
#image{
    height:200px ;
    width: 400px;
    margin:10px auto;
    background-color: #7aa874;
    background-image:url("3backgroundimg.jpeg");
    background-size:cover;
    /* you can yous contain ,auto*/
}