.divBorder{
    border:2px solid black;
}
.bkc{
    background-color:coral;
}
.BR{
    border-radius:2px 2px ;
}
#myDiv {
      border: 2px solid black;
      height: 100px;
      width: 200px;
      background-color: yellow
}